#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.nav {
  display: flex;
  gap: 32px;
}

nav svg {
  cursor: pointer;
}

nav svg:hover {
  color: #6E6E6E
}

img {
  cursor: pointer
}